<main>

    <section>
     
                <article>

                        <div class="imagen">
                            
                                <img src="{{user.photo}}" alt="" class="imag">
                            
                        </div>

                        <div class="titulo">

                                <img src="./../../../assets/img/libro.png">
                                <h3>Jazlin Bravo Palencia</h3>

                        </div>

                        <div class="formulario">

                                <div class="datos">     

                                        <label for="name">Nombre</label>
                                        <p clases="estilos"> {{user.name}}</p>

                                </div>  
                                
                                <div class="datos">

                                        <label for="apellido">Apellido</label>
                                        <p clases="estilos"> {{user.last_name}}</p>

                                </div>

                                <div class="datos">

                                        <label for="email">Email</label>
                                        <p clases="estilos"> {{user.email}}</p>
                                </div>

                        </div>

                </article>
           
                <aside>

                        <div class="titulo1">
                            <h2>Editar Datos</h2>
                            <div class="lines-effect"></div>
                        </div>

                        <div class="formulario1">

                            <input type="text" class="form-control" id="nombre" placeholder="Nombre" #name>
                        
                            <input type="text" class="form-control" id="apellido" placeholder="Apellidos" #last_name>
                    
                            <input type="email" class="form-control" id="email" placeholder="Email" #email>

                            <input type="url" class="form-control" id="url" placeholder="Url" #photo>
                        
                        </div>

                        <button type="reset" class="btn btn-success" (click)="enviar(name.value, last_name.value, email.value, photo.value)">Modificar</button>
    
                </aside>

    </section>


</main>

