main{

    /* height: 650px; */
    width: 1465px;
    margin-top: 50px;
    margin-bottom: 50px;
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.tarjeta{

    height: 550px;
    width: 130px;
    border: 2px solid rgb(215, 213, 213);
    border-radius: 10px;
    box-shadow: 2px 5px 3px rgb(152, 151, 151);
    

    display: flex;
    flex-direction: column;  
    gap: 5px;

}
img{

    height: 320px;
    width: 285px;
    border-radius: 8px;
    
}
.card-body{

    width: 280px;
    padding-left: 6px;
    margin-left: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;

}
p{

    font-size: 14px;
    height: 20px;
    margin-bottom: 5px;
    
}
.lines-effect{

    height: 1px;
    width: 260px;
    margin-left: 6px;
    margin-bottom: 2px;
    background-color: black;

}
h3{

    height: 650px;
    width: 1465px;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
h4{

    font-size: 17px;
    height: 20px;
 
}
h5{

    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 2px;
}
h6{


    font-size: 14px;
    height: 20px;

}
a{

    width: 250px;
    margin-left: 15px;

}
input{

    width: 350px;
    height: 40px;
    margin-left: 500px;
    border: 1px solid silver;
    border-radius: 30px;
    padding: 0 20px;

}




