<main class="contenedor-tarjetas" *ngIf="books.length>0; else noHay">
 
     <div class="container">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" id="search" placeholder="¿Que deseas buscar?" aria-label="Search" (keyup)="getOne(search_id_book.value)" #search_id_book>
          <button class="btn btn-success" (click)="getOne(id_book)">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>

    <ng-container *ngFor="let book of books; let even = even;">
        <app-card [book]="book" [even]="even" (titleBook) = "delete($event)"></app-card>
    </ng-container>

</main>

<ng-template #noHay>
    <div class="contenedor-tarjetas">
        <h3>No se encontro el Libro</h3>
    </div>
</ng-template>

      
      
     