<div class="formulario">

    <form>

            <div class="titulo">
                <h2>Modificar Libro</h2>
            </div>

            <div class="formul">

                <input type="text" class="form-control" id="title" placeholder="Titulo" #title>

                <input type="text" class="form-control" id="type" placeholder="Tapa blanda/dura" #type>

                <input type="text" class="form-control" id="author" placeholder="Autor" #author>

                <input type="text" class="form-control" id="price" placeholder="Precio" #price>
        
                <input type="text" class="form-control" id="photo" placeholder="Photo" #photo>

                <input type="text" class="form-control" id="id_book" placeholder="Codigo" #id_book>

            </div>

            <button type="reset" class="btn btn-success">Modificar libro</button>

    </form>
</div>
