    <form>

            <div class="contenedor">
                
                    <div class="titulo">
                        <h2>Registrate</h2>
                        <div class="lines-effect"></div>
                    </div>

                    <div class="formulario" [formGroup]="formRecord">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre"
                        [ngClass]="{'is-invalid': formRecord.get('nombre').invalid && (formRecord.get('nombre').dirty || formRecord.get('nombre').touched)}">
                        <div *ngIf="!formRecord.get('nombre').valid" class="invalid-feedback">El campo el obligatorio</div>
                    
                        <input type="text" class="form-control" id="apellido" placeholder="Apellido" formControlName="apellido"
                        [ngClass]="{'is-invalid': formRecord.get('apellido').invalid && (formRecord.get('apellido').dirty || formRecord.get('apellido').touched)}">
                        <div *ngIf="!formRecord.get('apellido').valid" class="invalid-feedback">El campo es obligatorio</div>
                
                        <input class="form-control" placeholder="Email" id="email" formControlName="email" 
                        [ngClass]="{'is-invalid': formRecord.get('email').invalid && (formRecord.get('email').dirty || formRecord.get('email').touched)}">
                        <div *ngIf="!formRecord.get('email').valid" class="invalid-feedback">
                              <div *ngIf="formRecord.get('email').errors.required">El campo es obligatorio</div>
                              <div *ngIf="formRecord.get('email').errors.email">El Email es incorrecto</div>
                        </div>
                
                        <input type="password" class="form-control" id="password" placeholder="Contraseña" formControlName="password"
                        [ngClass]="{'is-invalid': formRecord.get('password').invalid && (formRecord.get('password').dirty || formRecord.get('password').touched)}">
                        <div *ngIf="!formRecord.get('password').valid" class="invalid-feedback">
                              <div *ngIf="formRecord.get('password').errors.required">El Contraseña es obligatorio</div>
                        </div>

                    </div>

                    <button type="reset" class="btn btn-success" (click)="register()" [disabled]="formRecord.invalid">Registrarse</button>
            </div>
      </form>
