    <form>

            <div class="contenedor">
                
                    <div class="titulo">
                        <h2>Registrate</h2>
                        <div class="lines-effect"></div>
                    </div>

                    <div class="formulario">
                        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                    
                        <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                
                        <input type="email" class="form-control" id="email" placeholder="Email">

                        <input type="url" class="form-control" id="url" placeholder="Url">
                
                        <input type="password" class="form-control" id="password" placeholder="Contraseña">

                        <input type="password" class="form-control" id="password2" placeholder="Repetir contraseña">
                    </div>

                    <button type="submit" class="btn btn-success">Registrarse</button>
            </div>
      </form>
